streamlit
pandas
numpy
scikit-learn
pypdf
python-docx
openpyxl

torch==2.10.0
torchvision==0.25.0
torchaudio==2.10.0

sentence-transformers
faiss-cpu

langchain
langchain-core
langchain-text-splitters
langchain-google-genai
langchain-openai
langgraph

google-genai
openai
